/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  
  color: white;
  
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(118,70,252,1) 100%);
}

a {
  color: white;
}

button {
  background-color: #bff0ff;
  border: 2px solid #91d0e3;
  border-radius: 4px;
  padding: 3px 5px;
}

button:hover {
  background-color: #b3ebff;
  border: 2px solid #91d0e3;
  cursor: pointer;
}

input {
  background-color: #bff0ff;
  border: 2px solid #91d0e3;
  border-radius: 4px;
  padding: 3px 5px;
}

.buttons {
  background-color: #c7f2ff;
  border: 2px solid #baefff;
  border-radius: 4px;
  padding: 5px 7px;
  color: black;
  
  width: 600px;
}

.a {
  color: blue;  
}
